table.container {
  background-color: #000000;
}
h1, h2, h3, h4, h5, h6, p, a, li, td, th {
  word-break: keep-all;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
h1, h2, h3, h4, h5, h6, p, a {
  color: white;
  text-align: center;
}
h1, h2 {
  font-weight: lighter;
}
h1 {
  font-size: 1.625rem;
}
h2 {
  font-size: 1.250rem;
}
p {
  font-size: 1rem;
  font-weight: lighter;
}
p.intro {
  text-align: left;
  font-size: .9rem;
}
p.sponsored {
  margin: 0;
}
.videos {
  img {
    margin-bottom: 1rem;
  }
  p a {
    text-align: center;
    color: white!important;
    font-size: .8rem;
  }
}
.social {
  th {
    text-align: center;
  }
  img {
    display: inline;
  }
}
