  <container class="footer">
    <row>
      <columns small="12">
        <p class="text-center">This email was sent to you by Sound On Sound via the MailChimp mail server.</p>
        <p class="text-center">Please add <a href="mailto:sosinfo@soundonsound.com">sosinfo@soundonsound.com</a> to your address book to ensure delivery to your inbox</p>
        <!-- <p class="text-center">This email has been sent by: Sound On Sound Ltd | <a href="mailto:sosinfo@soundonsound.com">sosinfo@soundonsound.com</a>.</p> -->
        <p class="text-center">To update your preferences, please <a href="*|UPDATE_PROFILE|*">click here</a>.</p>
        <p class="text-center">To unsubscribe please <a href="*|UNSUB|*">click here</a>.</p>
        <p class="text-center">Sound On Sound Ltd publishes monthly UK and US Editions of Sound On Sound magazine and the <a href="https://www.soundonsound.com">soundonsound.com</a> website.</p>
        <p class="text-center">The company is registered in England and Wales. Company number: 3015516. VAT number: GB 638 5307 26.</p>
        <p class="text-center">Registered office: SOS Publications Group, Media House, Trafalgar Way, Bar Hill, Cambridge, CB23 8SQ, United Kingdom.</p>
      </columns>
    </row>
  </container>
</wrapper>
